{% extends 'base.html.twig' %}
{% block title %}
{{ parent() }} - Home
{% endblock %}
{% block content %}
{% for event in events %}
{{ event.name }}

{{ event.description }}

<img src="{{ event.picture }}" alt="">

   <button class="btn-default"><a href="event.php?id={{ event.id }}">Detail</a></button>
{% endfor %}

{% endblock %}